
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://kit.fontawesome.com/0b63215334.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/music">MUSIC</a></li>
            </ul>
                <div class="about__header__nav--redes">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>about<br>emilia //</h1>
        <section>
            <article>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eveniet, doloribus beatae, reiciendis tempora ullam consequatur officiis laboriosam ratione animi veniam saepe quod quos, vitae facilis voluptas corrupti mollitia est.</h3>
                <p>Lorem, ipsum dolor.</p>
            </article>
        </section>
    </main>
    
</body>
</html>
