
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <script src="https://kit.fontawesome.com/0b63215334.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body id="inicio">
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/music">MUSIC</a></li>
            </ul>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h5>Direct links</h5>
        <nav>
            <ul>
                <li><a href="#album"></a></li>
                <li><a href="#organic">Video: Organic love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
        </nav>
        <section>
            <article id="album">
                <h3>Album <br> twist my reality</h3>
                <img src="/images/emilia-play-list.png" alt="emiliplaylist" width="640">
                <ol>
                    <li><i class="fa fa-play"></i>Organic love</li>
                    <li><i class="fa fa-play"></i>twist my reality</li>
                    <li><i class="fa fa-play"></i>street light</li>
                    <li><i class="fa fa-play"></i>Lorem ipsum dolor sit amet</li>
                </ol>
                <a href="#inicio">Go top</a>
            </article>
        </section>
        <section>
            <article id="organic">
                <h3>video<br>Organic love</h3>
                <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#inicio">Go top</a>
            </article>
            <article id="street">
                <h3>video<br>street light</h3>
                <iframe width="660" height="371" src="https://www.youtube.com/embed/CVD1aJlWl3I" title="Organic Love" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,</p>
                <p>Wix Films LTD.</p>
                <a href="#inicio">Go top</a>
            </article>
        </section>
        
        
    </main>
</body>
</html>

